<?php

return [
    'contact' => [
        'transport' => 'default',
        'details' => [
            'name' => 'Joe Blogs',
            'address' => [
                'line1' => '1 Fake street',
                'line2' => '',
                'town' => 'Bogusville',
                'county' => 'Bluffshire',
                'postcode' => 'AA12 2BC',
                'country' => 'Shady Land'
            ],
            'phone' => '01234 567890',
            'fax' => '',
            'mobile' => '',
            'email' => 'job@blogs.wobble'
        ],
    ],
];
